---
import Layout from '@layouts/Default.astro'
---

<Layout
  title="benco.st"
  pageTitle="home"
  description="the homepage of benco.st"
  classList="h-full"
>
  <main class="bg-pink p-6 flex-1">
    <slot />
  </main>
</Layout>
