---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Default.astro'
import BlogList from '@components/blog/BlogList.astro'

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
)
---

<Layout
  title="benco bl0ggo"
  description="struggle and progress"
  pageTitle="benco bl0ggo"
>
  <main class="bg-green p-6">
    <BlogList posts={posts} />
  </main>
</Layout>
